MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60

FACTORY_ROOT_TOPIC=factory
FACTORY_TEMPERATURE_TOPIC=factory/temperature
FACTORY_CAT_AVERAGE_TOPIC=factory/cat/average
FACTORY_RAPID_CHANGE_TOPIC=factory/events/rapid_change
FACTORY_HIGH_AVERAGE_TOPIC=factory/events/high_average
FACTORY_SMALL_CHANGE_TOPIC=factory/events/small_change
